li {
    list-style-type: none;
    /* Убираем маркеры */
  }



header{
  width: 1200px;
  height: 800px;
  background-image: url(/img/IMAGE.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}
.navbar{
  display: flex;
  flex-direction: row;
}
/* .nav{
  display: flex;
  flex-direction: row;
} */
.infa{
  display: flex;
  flex-direction: row;
}